.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #729b79
}

.board h1 {
  border-bottom: 5px solid rgba(186, 205, 176, 0.67);
  font-size: 60px;
  letter-spacing: 8px;
  line-height: 64px;
  margin: 40px auto;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 450px;
}

.create-column {
  background-color: #d6eeff;
  border: 1px solid #d6eeff;
  border-radius: 8px;
  color: black;
  display: block;
  font-size: 16px;
  height: 50px;
  margin: 0 auto;
  width: 160px;
}

.create-column p {
  float: left;
  margin: 0;
}

.create-column .fa {
  float: right;
}

.column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.column {
  align-items: center;
  background-color: #729b79;
  color: #d6eeff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  flex: 1;
  justify-content: center;
  margin: 0px 25px 30px;
  max-width: 340px;
  min-height: 380px;
  min-width: 340px;
}

.column-title {
  border-bottom: 8px solid white;
  font-size: 32px;
  line-height: 65px;
  margin-bottom: 16px;
  margin-top: -25px;
  text-align: center;
}

.column-card-list {
  list-style-type: none;
  min-height: 200px;
  padding: 5px;
}

.btn-delete {
  background-color: #fff0;
  border: none;
  font-size: 20px;
  margin-left: calc(100% - 40px);
  margin-top: 12px;
}

.add-card {
  background-color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  height: 27px;
  line-height: 0px;
  margin-left: 20px;
  width: 27px;
}

.card {
  background-color: #bacdb0;
  border-radius: 8px;
  list-style-type: none;
  margin: 10px;
  min-height: 30px;
  padding: 2px 0;
}

.card-description {
  color: black;
  margin: 10px 50px;
  width: 75%;
}

.card-delete {
  background-color: #bacdb0;
  border: none;
  color: grey;
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 10px;
  margin-top: 11px;
  text-transform: uppercase;
}

.card-placeholder {
  background-color: rgba(255, 255, 255, 0.55);
  border: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.edit {
  background-color: #bacdb0;
  border: none;
  color: grey;
  cursor: pointer;
  display: block;
  float: left;
  margin-left: 10px;
  margin-top: -29px;
  text-transform: uppercase;
}